@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: 'SideBarIcon';
  src:  url('fonts/SideBarIcon.eot?bxs2vt');
  src:  url('fonts/SideBarIcon.eot?bxs2vt#iefix') format('embedded-opentype'),
    url('fonts/SideBarIcon.ttf?bxs2vt') format('truetype'),
    url('fonts/SideBarIcon.woff?bxs2vt') format('woff'),
    url('fonts/SideBarIcon.svg?bxs2vt#SideBarIcon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SideBarIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
  color: #1890ff;
}
.icon-2:before {
  content: "\e901";
  color: #929faf;
}
.icon-3:before {
  content: "\e902";
  color: #929faf;
}
.icon-4:before {
  content: "\e903";
  color: #929faf;
}
.icon-5:before {
  content: "\e904";
  color: #929faf;
}
.icon-6:before {
  content: "\e905";
  color: #929faf;
}
.icon-7:before {
  content: "\e906";
  color: #929faf;
}
.icon-8:before {
  content: "\e907";
  color: #1890ff;
}
.icon-9:before {
  content: "\e908";
  color: #929faf;
}
